@using TVNApp.ViewModels
@model ArticlesViewModel

@await Html.PartialAsync("_Header")

<h1>A tutaj mamy listę naszych artykułów</h1>
<br />
<hr />
@foreach (var article in Model.ListViewModel)
{
<div class="extensible">@article.Title  \|/
    <div class="article">
        <p class="title">
            Artykuł numer @article.ID <br />
                        
        </p>
        <p class="link"><a href="@article.Link">Link do artykułu</a></p>
        <p class="content">@article.Content</p>
    </div>
</div>
}
