@using TVNApp.ViewModels
@model MainViewModel

@await Html.PartialAsync("_Header")

<h1>Today's weather forecast:</h1>
<br />
<hr />
<div class="clothingAdvice">
    <p class="title">Temperature: @Model.ViewModel.Temp</p>
    <p class="pressure">Forecasted air pressure for today is: @Model.ViewModel.Pressure hPa</p>
    <p class="humidity">And the air humidity: @Model.ViewModel.Humidity</p>
    <p class="clothingAdvice">@Model.ClothHandler.GetAdvice()</p>
</div>