<div class="siteHeader">
    Welcome on my website, Lorem Ipsum Dolor Amet SmthSmthSmth <i id="navButton" class="fas fa-compass" onclick="openNav()"></i>
</div>
<!-- The overlay -->
<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="~/news">News</a>
        <a href="~/weather">Weather</a>
    </div>
</div>